<!DOCTYPE html>
<html>
   <head>
    	<meta charset="utf-8" />
    	<title>
    		Регистрация
    	</title>    	
    	<style>
		   select {
		    width: 300px; 
		   }
 		</style> 
 		<style>
		   input {
		    width: 300px; 
		   }
 		</style> 
 		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>	      	
   </head>
   <body>   		
		<center><H1>Запись к врачу</H1></center>		
		<form action="{% url 'save'%}" method="post">{% csrf_token %}
		 <p>		        
            <label for="client_name">
               ФИО: 
            </label>
            <input type="text" id="client_name" name="client_name" required/><Br><Br>      
            <label for="doctor_name">
               Врач: 
            </label>
            <select id="doctor_name" name="doctor_name" required>
            	<option value=-1></option>
            	{% if doctors_list %}				    
				    {% for doctors in doctors_list %}
				        <option value={{doctors.id}}>{{doctors.doctor_name}}</option>
				    {% endfor %}				    
				{% else %}
				    <option value=-1>Нет врачей.</option>
				{% endif %}
			</select required><Br><Br>	
			<label for="entry_date">
               Дата приёма: 
            </label>					
			<input type="date" id="entry_date" name="entry_date" required><Br><Br>
			<label for="entry_time">
               Время приёма: 
            </label>
			<select id="entry_time" name="entry_time" required>
				<option value=-1></option>
            	{% if work_time_list %}				    
				    {% for worktime in work_time_list %}
				        <option value={{ worktime.id }}>{{ worktime.time}}</option>
				    {% endfor %}				    
				{% else %}
				    <option value=-1>Нет свободного времени.</option>
				{% endif %}
			</select>			
		 </p>
		  <p><input type="submit" value="Регистрация"></p>
		</form>	
		<script>
			window.changeWorkTime = function() {	
				$today = new Date();
				$selected_entry_date = new Date($("#entry_date").val());
				$day_number = $selected_entry_date.getDay();
				$("#entry_time").empty();
				if (($day_number != 6) && ($day_number != 0) && ($today < $selected_entry_date)) {
					$selected_date = $("#entry_date").val();
					$selected_date_detail = $selected_date.split('-');
					$selected_date = $selected_date_detail[2] + '.' + $selected_date_detail[1] + '.' + $selected_date_detail[0];
					$selected_doctor = $("#doctor_name :selected").text();
					{% if entries_list %}
						busy_time = new Array();
						$i = 0;
						{% for entries in entries_list %}							
							$entry_detail = "{{entries}}".split(', ');
							$entry_date = $entry_detail[1];
							if (($entry_date == $selected_date) && ($selected_doctor == '{{entries.doctor_name}}')) {
								busy_time[$i] = '{{entries.entry_time}}'
								$i++
							}
					    {% endfor %}
					    if (busy_time.length > 0) {					    	
					    	free_time = new Array();
						    $j = 0;					    
						    {% if work_time_list %}				    
							    {% for worktime in work_time_list %}
							        for (var $i in busy_time) {
							        	if ('{{worktime.time}}' != busy_time[$i]) {
							        		free_time['{{worktime.id}}'] = '{{worktime.time}}' 		
							        		$j++	
							        	}
							        }
							    {% endfor %}				    
							{% else %}
							    <option value=-1>Нет свободного времени.</option>
							{% endif %}
							if (free_time.length > 0) {
								$("#entry_time").append($('<option value=-1></option>'));	
							} else {
								$("#entry_time").append($('<option value=-1>Нет свободного времени</option>'));		
							};
							for (var $i in free_time) {							
								$str = '<option value=' + $i + '>' + free_time[$i] + '</option>';	
								$("#entry_time").append($($str));
							};
					    } else {
					    	$("#entry_time").append($('<option value=-1></option>'));
					    	{% for worktime in work_time_list %}					        
						        $("#entry_time").append($('<option value={{ worktime.id }}>{{ worktime.time}}</option>'));
						    {% endfor %}	
					    }
				    {% endif %}	
				};				
			};
   			$("#doctor_name").on('change', function() {
				$('#entry_time').val(null);
				window.changeWorkTime();	  
			});
   			$("#entry_date").on('change', function() {					
				$('#entry_time').val(null);
				window.changeWorkTime()				
			});
   		</script>	
   </body>
</html>

